<h1>99 Cats</h1>

<form action="cats_url" method="post">
  <p>
    <label for="name">Name:</label>
    <input type="text" id="name">
  </p>
  <p>
    <label for="color">Color:</label>
    <select name="name" id="color">
      <option value="" selected disabled hidden>Select Color</option>
      <option value="orange">Orange</option>
      <option value="black">Black</option>
      <option value="white">White</option>
      <option value="rainbow">Rainbow</option>
    </select>
  </p>
  <p>
    <label for="M">Male</label>
    <input type="radio" id="M" name="Sex">

    <label for="F">Female</label>
    <input type="radio" id="F" name="Sex">
  </p>
  <p>
    <label for="birth_date">Birth Date:</label>
    <input type="date" id="birth_date" name="Sex">
  </p>
  <p>
    <label for="description">Description:</label>
    <textarea name="description" id="description" rows="5" cols="30"></textarea>
  </p>
  <button type="submit" >submit</button>


</form>