/* PHASE 5: Cats */
.content-header {
  background: url('../images/cats.jpg');
  height: 200px;
  width: 100%;
  position: relative;
}

.content-header > h1 {
  position: absolute;
  text-shadow: 2px 2px #ff0000;
  bottom: 20px; 
  left: 240px; 
  color: white;
  
}

.content-header > button {
  position: absolute;
  bottom: 20px; 
  right: 20px; 
  text-shadow: 2px 2px #ff0000;
  background-color: white;
  border-radius: 2px;
}